
  @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Pathway+Gothic+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.frontPage{
   background-image:url('../../Imgs/fondoPortada4.jpg');
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.frontPageCont {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 5% 3% 5%;
    
}

.menuFP {
    width: 62%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuFP a {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
   

}

.menuFP button {
    height: 44px;
    width: 87%;
    border-radius: 24px;
    background-color: white;
    color: black;
    margin-bottom: 2%;
    font-size: 22px;
    font-family: 'Nanum Myeongjo', serif;
    background-color:#ffc99f;
    border: transparent;
}

.menuFP button:hover {
    background-color:#eea66f;
}


.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome p {
    font-family: 'DM Serif Display', serif;
    font-size: 55px;
    text-align: center;
    margin: 0;
    margin-bottom: 1%;
}



.menuFP ul li button {
    background-color: #f4c4ac;
    border: transparent;
    border-radius:3px;
    height: 7vh;
    width: 100%;
    font-size: 1.2rem;
    color: white;
}

.menuFP ul li button:hover {
    background-color: #f89665;
    
}

.menuFP ul li a {
    text-decoration: none;
}

/*
.algo{
.color1 { #dccc54 };
.color2 { #f4c4ac };
.color3 { #6e6316 };
.color4 { #7f7319 };
.color5 { #a4c4d4 };
}
*/