.custom-dot {
    border: none;
    cursor: pointer;
    width: 10%;
    background-color: #000000a1;
    /* padding: 0%; */
    padding-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  
  .custom-dot img {
    width: 100% !important;
    opacity: 0.7;
  }
  .custom-dot--active {
    border: 1px solid white;

  }

 