.navbar {
    background-color: white;
    display: flex;
    flex-direction: column;
  
}

.navbar img {
    width: 13%;
    align-self: center;
}

.navbarLinks {
    align-self: center;
    margin-top: 0;
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 8vh;
    border-top: 1px solid rgba(128, 128, 128, 0.712);
    border-bottom: 1px solid rgba(128, 128, 128, 0.733);

}

.navbarLinks a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.719);
}

.navbarLinks li {
    margin: 0 1% 0 1%;
    font-size: 14px;
}

.nbAtencion {
    font-size: 11px;
    background-color:#6e6316;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

/*
.algo{
.color1 { #dccc54 };
.color2 { #f4c4ac };
.color3 { #6e6316 };
.color4 { #7f7319 };
.color5 { #a4c4d4 };
}
*/