.print_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

.print_div {

    width: 100%;
    display: flex;   
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.print_cont h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 2%;
}

.print_cont span {
    font-style:oblique;
    color: #fe382e;

}

.print_div img {
    width: 23%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}