.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    background-color:#fcf7ee;
}

.carousel-root {
    width: 75%;
}

.carousel.carousel-slider {
    height: 67vh;
   
}

.carousel .thumbs-wrapper {
    display: none;
}

/* ------- QUIEN SOY ------- */

.quienSoy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 5%;
    margin-bottom: 3%;
    width: 75%;
  
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.quienSoy div {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
    margin-left: 3%;
}

.quienSoy div h3 {
    font-size: 40px;
    margin: 7% 0 2% 0%;
    font-family: 'DM Serif Display', serif;
}

.quienSoy div p {
    font-size: 23px;
    width: 90%;

    word-spacing: 1px;
    line-height: 34px;
    font-family: 'Nanum Myeongjo', serif;

}

.quienSoy div a, .second a  {
    text-decoration: none;
    color: black;

}

.quienSoy div button {
    height: 45px;
    font-size: 24px;
    font-family: 'DM Serif Display', serif;
    padding: 2% 3% 2% 3%;
    background-color: #c7e9f6;
    border: none;
    margin-top: 4%;
    display: flex;
    align-items: center;
}


/* ---------- CLIENTS AND ABOUT ------------ */

.clientes {
    margin-top: 5%;
    margin-bottom: 3%;
    width: 75%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.clientes .second {
background-image: url("../../Imgs/espaldaMagui.jpg");
background-size: contain;
width: 49%;
height: 650px;
border: 8px solid #5c8aa0;
display: flex;
flex-direction: column;
align-items: center;
margin-left: 1%;
}

.second h3{
    font-size: 50px;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 1%;
    margin-top: 3%;
    color: #5c8aa0;
}
.second a  {
    text-decoration: none;
    color: #5c8aa0;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
}

.clientes .first{
    margin-right: 1%;
    width: 49%;
height: 650px;
border: 8px solid #e4939a;
display: flex;
flex-direction: column;
align-items: center;
}

.first h3{
    font-size: 50px;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 1%;
    margin-top: 3%;
    color: #e4939a
    ;text-align: center;
}

.first p {
    text-align: center;
    font-size: 23px;
    font-family: 'Nanum Myeongjo', serif;
    padding: 0 10% 0 10%;
    line-height: 150%;
}